#wordscape, #dogMatch, #face{
    color: teal;
}

#logoCont{
    background: transparent !important;
    text-align:center;
    padding-left: 20%;
    padding-top: 10%;
}

#pContainer{
    background-color: #ffe0cf;
    border: solid black 20px;
    margin-bottom: 50px;
}