@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

.jumbotron.jumbotron-fluid{
    width: 100%;
    height: 720px;
    margin: 0px !important;
    padding: 0px !important;
    background-color: transparent !important;
    box-shadow: 0 4px 8px 0 rgba(57, 59, 49, 0.658), 0 6px 20px 0 rgba(26, 31, 12, 0.685);
    
}


#aboutImage{
    background: url(../img/aboutImg.jpg)no-repeat center ; 
    -webkit-background-size: cover;
    height: 300px;
    width: 300px;
    margin: 0px !important;
    padding: 0px !important;
    border-radius: 8px;


}

#aboutImage2{
    background: url(../img/aboutImgN.JPG)no-repeat center; 
    -webkit-background-size: cover;
    height: 300px;
    width: 300px;
    margin: 0px !important;
    padding: 0px !important;
    shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: rotate(90deg);
    border-radius: 8px;


}

#aboutImage3{
    background: url(../img/aboutImg3.jpg)no-repeat center; 
    -webkit-background-size: cover;
    height: 300px;
    width: 300px;
    margin: 0px !important;
    padding: 0px !important;
    shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;


}

#cardOne{
    width: 300px;
    height: 400px;
    margin: 0px !important;
    padding: 0px !important;
    background-color: transparent !important;
    color: black;
    text-align:center
}
 #cardTwo{
    width: 300px;
    height: 280px;
    margin: 0px !important;
    padding: 0px !important;
    background-color: transparent !important;
    color: black;
    text-align:center

 }
 
 #cardThree{
    width: 300px;
    height: 250px;
    margin: 0px !important;
    padding: 0px !important;
    background-color: transparent !important;
    color: black;
    text-align:center

 }
 .card-text{
     font-family: 'Julius Sans One';
     font-size:15px;

 }

 h5{
     font-size: 20px;
     font-weight: bold;
     font-family: 'Julius Sans One';

     
 }

 h6{
     font-size: 15px;
     font-family: 'Julius Sans One';
 }

 #aboutContainer{
     background-color: #ffe0cf;
     border: solid black 20px;
     margin-bottom: 50px;
 }