@import url('https://fonts.googleapis.com/css?family=Kristi');




#mainImage{
  background: url(../img/img1.jpg) no-repeat center;
  height:550px;
  width: 100% !important;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* border-radius: 8px; */
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  /* border: black solid 50px; */
}

.col-md-4{
  text-align:center;
  color:white;
  font-size: 20px;
  font-family: 'Kristi';
  

}


#homeContainer{
  background-color: #ffe0cf;
  margin-bottom: 50px;
  border: solid black 20px;
}

#myInfo{
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-shadow: 2px 2px rgb(255, 0, 140);
    color: rgb(0, 101, 140) !important;
    font-weight: bold !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;
    font-size: 30px;
    background: -webkit-linear-gradient(gold,teal, gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 /* #arrow{
  background: url('../img/arrow.jpg') no-repeat center;
  height: 600px;
  width: 600px;
  -webkit-animation: mymove 10s;
  -webkit-animation-iteration-count: infinite;
  margin: 0px !important;
} 

@-webkit-keyframes mymove {
  from {left: 0px;}
  to {left: 100px;}
}


@keyframes mymove {
  from {left: 0px;}
  to {left: 100px;}
} */

/* @media screen and (max-width: 900px){
  #mainImage{
    background: url(../img/img1.jpg) no-repeat center center fixed;
    height:450px;
    width: 100% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    background-attachment: fixed;

}
} */


