#mainHeader{
    text-align: center;
}

#fullName{
    text-shadow: 2px 2px pink;
    color: rgb(0, 101, 140) !important;
    font-weight: bold !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;
    font-size: 30px;
    background: -webkit-linear-gradient(gold,teal, gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    right: 50px;
    padding-top: 20px; 
    
}



h1{
    text-shadow: 2px 2px pink;
    color: teal !important;
    font-weight: bold !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;
    font-size: 50px
}

h3{
    font-size:40px;
    font-family: cursive;
    font-weight: bold;
}

